google-cloud/private-gke/terraform.tfstate.d/dev/.terraform.tfstate.lock.info
*.tfstate
*.tfvars
.terraform.lock.hcl
.terraform
terraform.tfstate.backup
.terraform.tfstate
.terrafmrom.tfstate.*
myenv
venv
beam